<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project2.bookly">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_bookly_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bookly">
        <activity
            android:name=".Studentlogactivity"
            android:exported="true" />
        <activity
            android:name=".Adminmainactivity"
            android:exported="true" />
        <activity
            android:name=".Studentmainframe"
            android:exported="true" />
        <activity
            android:name=".Adminmainframe"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>